.navigation {

    padding: 0px 32px;

    .nav-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo-section {
            display: inherit;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .logo-img {
                height: 48px;
            }
        }

        .ctas {
            display: flex;
            gap: 8px;
        }

    }
}