@use "../Utility/_colour.scss" as *;

.navigation {

    border-bottom: 2px solid $black50;
    margin-bottom: 16px;

    padding: 8px 32px;

    .nav-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo-section {
            display: inherit;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .logo-img {
                height: 48px;
            }

            .title {

                display: flex;
                align-items: center;
                justify-content: start;
                flex-wrap: wrap;
                row-gap: 0px;
                column-gap: 8px;

                .version-number {
                    margin-bottom: -4px;
                    white-space: nowrap;
                }
            }

        }

        .ctas {
            display: flex;
            gap: 8px;
        }

    }
}

@media (max-width: 768px) {
    .navigation {

        .nav-container {
            gap: 16px;
            flex-direction: column;
            align-items: start;

            .ctas {
                display: flex;
                gap: 8px;
                width: 100%;

                .btn-unactive,
                .button {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}