@use "../Utility/_colour.scss" as *;

.navigation {

    position: relative;
    z-index: 10;
    background-color: $white;

    border-bottom: 2px solid $black50;
    margin-bottom: 16px;

    padding: 8px 32px;


    .nav-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo-section {
            display: inherit;
            justify-content: center;
            align-items: start;
            gap: 16px;

            .logo-img {
                height: 64px;
            }

            .title {

                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: start;
                row-gap: 2px;

                .version-number {
                    margin-bottom: -4px;
                    white-space: nowrap;
                }
            }

        }

        .ctas {
            display: flex;
            gap: 8px;
        }

        .menu-button {
            display: none;
        }

    }
}

@media (max-width: 768px) {
    .navigation {

        .nav-container {

            position: relative;

            gap: 16px;
            align-items: start;

            .logo-section {
                gap: 12px;

                .logo-img {
                    height: 48px;
                }
            }

            .ctas {

                position: absolute;
                top: 110px;
                width: 100vw;
                height: 100vh;

                background: $white;

                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 100%;

                .btn-unactive,
                .button {
                    width: 100%;
                    text-align: center;
                }
            }

            .menu-button {
                display: block;
            }
        }
    }
}