.navigation {

    padding: 0px 32px;

    .nav-container {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo-img {
            height: 64px;
        }

        .ctas {
            display: flex;
            gap: 8px;
        }

    }
}