.navigation {

    padding: 0px 32px;

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo-img {
            height: 64px;
        }

        .title {
            display: flex;
            flex-direction: column;
            align-items: end;
        }
    }
}