@use "_colour.scss" as *;

.button {
    color: $white;
    background-color: $accent;
    text-decoration: none;

    height: 48px;

    padding: 12px 24px;
    border: none;
    border-radius: 8pt;

    transition: 200ms;
}

.button:hover {
    cursor: pointer;
    opacity: .8;
}

.button:active {
    transition: 100ms;
    opacity: .7;
}

.btn-unactive {
    @extend .button;
    color: $accent;
    background-color: white;
    box-shadow: inset 0 0 0 2px $accent;
}

.pill-button {
    @extend .button;
    border-radius: 100pt;
}

.toggle {

    // width: fit-content;

    display: flex;

    background-color: $gray;
    border-radius: 100pt;

    .toggle-active {
        @extend .pill-button;
    }

    .toggle-disable {
        @extend .pill-button;
        color: $black;
        background-color: transparent;
    }

    &--left {
        .toggle-disable {
            padding-right: 16px;
        }
    }

    &--right {
        .toggle-disable {
            padding-left: 16px;
        }
    }
}