@use "_colour.scss" as *;
@use "_font.scss" as *;

.dropdown {
    padding: 0px 16px;
    border: 2px solid $gray;
    border-radius: 16px;

    @extend .body;

    width: 100%;
    height: 48px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // removes the default chevron
    appearance: none; // standard
    -webkit-appearance: none; // Safari/Chrome
    -moz-appearance: none; // Firefox

    background-image: none;
    background-repeat: no-repeat;

    &:focus {
        outline-color: $accent; // change border to accent color
    }
}