$heading-1: 1.75rem;
$heading-3: 1.25rem;
$body: 1rem;
$caption: .85rem;

* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.heading-1 {
    font-size: $heading-1;
    font-weight: 600;
    letter-spacing: -.6pt;

    small {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -.3pt;
    }
}

.heading-3 {
    font-size: $heading-3;
    font-weight: 600;
    letter-spacing: -.6pt;
}

.body {
    font-size: $body;
    font-weight: 400;
    letter-spacing: -.2pt;
}

.caption {
    font-size: $caption;
    font-weight: 400;
}

.mono {
    @extend .body;
    font-family: "DM Mono", monospace;
}


@media (max-width: 768px) {
    .heading-1 {
        font-size: 1.25rem;
    }

    .heading-3 {
        font-size: 1rem;
    }

    .body {
        font-size: .90rem;
    }

    .caption {
        font-size: .75rem;
    }
}