@use "_colour.scss" as *;

.progress-bar {
    margin-top: 8px;
    height: 18px;
    appearance: none;
    border: none;
    border-radius: 18px;

    /* Smoothly animate changes in value */
    transition: all .2s linear;
}

/* Track (background) */
.progress-bar::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 18px;
    overflow: hidden;
}

/* Fill (foreground) */
.progress-bar::-webkit-progress-value {
    background-color: $accent;
    border-radius: 0px;
    transition: width .2s linear;
    /* smooth flowing effect */
}

/* Firefox */
.progress_bar::-moz-progress-bar {
    background-color: $accent;
    border-radius: 18px;
    transition: width .2s linear;
}


//FOR BMI
.pb-uw::-webkit-progress-value {
    background-color: $blue;
}

.pb-n::-webkit-progress-value {
    background-color: $green;
}

.pb-ow::-webkit-progress-value {
    background-color: $yellow;
}

.pb-o1::-webkit-progress-value {
    background-color: $orange;
}

.pb-o2::-webkit-progress-value {
    background-color: $dark_orange;
}

.pb-o3::-webkit-progress-value {
    background-color: $red;
}