@use "../Utility/_colour.scss" as *;
@use "../Utility/_font.scss" as *;

.tool {

    padding: 0px 32px;

    .tool-container {

        display: flex;
        flex-direction: column;
        gap: 32px;

        .units-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 16px;
        }

        .user-section {

            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);

            gap: 16px;

            .details-container {
                display: flex;
                flex-direction: column;
                gap: 4px;

                span {
                    color: $accent;
                }

                .inputwrapper {

                    display: flex;
                    align-items: center;

                    .inputbox {
                        width: 100%;
                    }
                }

                .dropdown {
                    width: 100%;
                }

            }

        }

        .bmi-user-section {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }

        .method-section {

            display: flex;
            flex-direction: row;
            align-items: center;

            gap: 16px;

            .method-selector {

                display: flex;
                flex-direction: row;
                align-items: center;

                gap: 8px;

            }

        }

        .caliper-method {

            display: flex;
            gap: 16px;

            .measurement-container {

                flex: 1;

                display: flex;
                flex-direction: column;
                gap: 4px;

                .part-title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .inputbox {
                    width: 100%;
                }

            }
        }

        .result-section {

            background-color: $white;

            padding: 24px 32px 32px 32px;
            border: 2px solid $gray;
            border-radius: 32px;

            display: flex;
            flex-direction: column;
            gap: 24px;

            .bmi-scale {

                .category {

                    margin-bottom: 2px;

                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .indicator {
                        width: 16px;
                        height: 16px;
                        border-radius: 16px;
                        // background-color: $accent;
                    }
                }

                .progress-bar {
                    width: 100%;
                }

                .label {
                    position: relative;
                    width: 100%;
                    height: 20px;

                    .name {
                        position: absolute;
                        transform: translate(-50%, -20px);

                        @extend .caption;

                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        gap: 2px;

                        .line {
                            width: 2px;
                            height: 18px;
                            background-color: $black;
                            opacity: .75;
                        }

                        &:first-child,
                        &:last-child {
                            .line {
                                opacity: 0; // only works if there are multiple lines per .name
                            }
                        }

                    }

                }
            }

            .result {
                display: flex;
                gap: 16px;

                .infobox {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    width: 100%;

                    .body {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .inputbox {
                        padding: 12px 16px;

                        .diff {
                            margin-left: 2px;

                            @extend .caption;

                            color: $accent;
                        }
                    }
                }
            }
        }


        .lower-section {
            display: flex;
            justify-content: space-between;
            align-items: end;

            .cta {
                .print-btn {
                    color: $black;
                    background-color: transparent;
                }
            }

            .source-logo {
                height: 36px;

                .logo {
                    height: 100%;
                    margin-left: 16px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .tool {


        .tool-container {

            .user-section {
                grid-template-columns: repeat(1, 1fr);
            }

            .bmi-user-section {
                gap: 16px;
            }

            .method-section {
                flex-direction: column;
                align-items: start;

                .method-selector {

                    width: 100%;

                    .tooltips {
                        display: none;
                    }
                }
            }

            .caliper-method {
                flex-direction: column;
            }

            .result-section {
                .result {
                    flex-direction: column;
                }
            }

            .lower-section {
                flex-direction: column;
                align-items: start;

                .logo {
                    display: none;
                }

                .cta {
                    display: flex;
                    width: 100%;

                    .pill-button:first-child {
                        flex: .6;
                    }

                    .pill-button:last-child {
                        flex: .4;
                    }
                }
            }
        }
    }
}