.tool {
  padding: 0px 32px;
}
.tool .tool-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.tool .tool-container .units-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
.tool .tool-container .user-section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.tool .tool-container .user-section .details-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tool .tool-container .user-section .details-container span {
  color: hsl(337, 90%, 45%);
}
.tool .tool-container .user-section .details-container .inputwrapper {
  display: flex;
  align-items: center;
}
.tool .tool-container .user-section .details-container .inputwrapper .inputbox {
  width: 100%;
}
.tool .tool-container .user-section .details-container .dropdown {
  width: 100%;
  height: 100%;
}
.tool .tool-container .method-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.tool .tool-container .caliper-method {
  display: flex;
  gap: 16px;
}
.tool .tool-container .caliper-method .measurement-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tool .tool-container .caliper-method .measurement-container .part-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tool .tool-container .caliper-method .measurement-container .inputbox {
  width: 100%;
}
.tool .tool-container .result-section {
  background-color: hsl(0, 0%, 100%);
  padding: 24px 32px 32px 32px;
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tool .tool-container .result-section .basic-result,
.tool .tool-container .result-section .body-result {
  display: flex;
  gap: 16px;
}
.tool .tool-container .result-section .basic-result .infobox,
.tool .tool-container .result-section .body-result .infobox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.tool .tool-container .result-section .basic-result .infobox .body,
.tool .tool-container .result-section .body-result .infobox .body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tool .tool-container .result-section .basic-result .infobox .inputbox,
.tool .tool-container .result-section .body-result .infobox .inputbox {
  padding: 12px 16px;
}
.tool .tool-container .cta .print-btn {
  color: hsl(0, 0%, 0%);
  background-color: transparent;
}