@use "./Utility/_colour.scss" as *;
@use "./Utility/_font.scss" as *;

@use "./Components/navigation";

@use "./Pages/tools";

@use "./Utility/button";
@use "./Utility/textbox";
@use "./Utility/dropdown";
@use "./Utility/progressbar";
@use "./Utility/tooltips";

*,
*::before,
*::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {

    overflow-x: hidden;

    background-image:
        linear-gradient(rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.98)),
        url(../assets/wallpaper.svg);
    background-position: 0px 0px;
    background-size: cover, cover;
}

.container {
    padding: 16px 0px;
    max-width: 1100px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.install-popup {
    display: none;
}

@media (max-width: 1024px) {
    .install-popup {

        position: fixed;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);

        max-width: 90%;
        width: 360px;

        background: #fff;
        border-radius: 14px;
        padding: 16px;

        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
        z-index: 9999;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;

        .button {
            flex: 1 1 auto;
        }

    }
}

/* -------------------------------
   PRINT SETTINGS
--------------------------------*/
@media print {

    @page {
        size: A4 portrait;
        margin: 5mm;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    body {
        background: white !important;
        image-rendering: crisp-edges !important;
    }

    @page {
        margin-header: 0;
        margin-footer: 0;
    }

    .print-btn,
    .result-btn {
        display: none !important;
    }

    .dropdown option {
        display: none;
    }

    .dropdown option:checked {
        display: block;
    }

}


/* iPad print adjustments */
@media print and (max-device-width: 1024px) {
    @page {
        size: auto; // Let the browser decide to reduce margins
        margin: 0;
    }
}